{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'body.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
    <div>
        <h1 style="color:#797586; font-size:35px; text-shadow:#000 1px 1px 1px;">Список поставщиков</h1><br>
        <div class="container" style="margin-left:7cm;"><br>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% if perms.cancillaria.change_supplier %}
            <a class="btn btn-success me-2" href="{% url 'add_supp_view' %}">Добавить поставщика</a>
        {% endif %}
        <a class="btn btn-info btn-sm" href="{% url 'add_сancillaria' %}">Назад</a><br>
        <br>{{ info }}
        <div>
            {% for item in page_obj.object_list %}<br>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <div class="container" style="margin-left:7cm;"><br>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                {% if page_obj.number == page %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
