body {
    height: 100%;
    padding: 10px;
    background-image: url(https://images.unsplash.com/photo-1586439217848-ee92c18c2968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
}